:root {
    --primary-color: #36354f;
    --secondary-color: #00a86b;
    --tertiary-color: #b2dfdb;
    --text-color: #313131;
    --white: #fff;
}

* {
    font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: 1.5;
    background: var(--primary-color);
    color: var(--text-color);
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    color: white;
}

header {
    background: var(--primary-color);
}

.title {
    text-align: center;
    font-size: 3rem;
    font-family: "Karla", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0.5rem;
    color: var(--white);
}

.link {
    text-align: center;
    font-size: 2rem;
    background: var(--secondary-color);
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s;
}

.link:hover {
    background: var(--tertiary-color);
}

.link > a {
    text-decoration: none;
}

.component {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: var(--white);
}

.component-title {
    font-size: 3rem;
    margin-bottom: 0;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component-image {
    border-radius: 5%;
    margin-bottom: 5%;
}

.component-description {
    width: 90%;
    text-align: left;
    text-indent: 10%;
    padding: 5%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
}

.adjacent-top {
    padding-bottom: 1%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.adjacent-bottom {
    padding-top: 1%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-item {
    margin-bottom: 20%;
}

.special-padding {
    padding-bottom: 5%;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    padding: 1%;
    background: var(--secondary-color);
    color: var(--white);
}

.special {
    margin-bottom: 0;
}

@media screen and (min-width: 850px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .link {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
    }

    .component {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    
    .component-title {
        margin-bottom: 3vh;
    }

    .about-the-agent > .content > .component-description {
        width: 50%;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .component-image {
        margin-bottom: 0;
        margin-right: 5%;
    }

    .component-description {
        width: 70%;
    }
}
